[Unit]
Description=Enforce working DNS (override PVE-managed resolv.conf)
DefaultDependencies=no
After=network-pre.target
Before=network-online.target nss-lookup.target jorasite.service nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fix-resolvconf.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
